<!-- inscription.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css">
    <script src="/assets/js/script.js" defer></script>
</head>
<body>
<div id="User-Verif">
    <div id="content_inscription" class="inscription hidden">
        <div id="register" class="wrapperform">
            <form id="registrationForm" method="post">
                    <input type="hidden" name="formName" value="register">
                    <h1>REGISTER</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" name="username" id="register_username" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="First Name" name="first_name" id="register_first_name" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Last Name" name="last_name" id="register_last_name" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Gender" name="Gender" id="register_gender" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Age" name="age" id="register_age" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="E-mail" name="mail" id="register_email" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" id="register_password" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Comfirm password" name="confirm_password" id="register_confirm_password" required>
                    </div>
                    <button id="registrationBtn" class="btn">Register</button>                       
                    <div class="register-link">
                        <p><a href="#" id="showLoginPage">Already a member? <br>Login now!</a></p>
                    </div>
            </form>
        </div>
    </div>
    <div id="content_login" class="login">
        <!-- Formulaire de connexion -->
        <div id="login" class="wrapperform">
            <form id="loginForm">
                <input type="hidden" name="formName" value="login">
                <h1>LOGIN</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" name="username" id="login_username" required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" name="password" id="login_password" required>
                </div>
                    <button id="loginBtn" class="btn">Login</button>                       
                <div class="login-link">
                    <p><a href="#" id="showRegistrationPage">Not a member yet? <br>Register now!</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
    <div id="content_dashboard" class="dashboard hidden">
        <h2>Tableau de bord</h2>
        <div id="postContainer"></div>
    </div>
    <div class="sidenav hidden" id="sidebar">
        <div id="MyName"></div>
        <hr>
        <h2 style="color: grey;">Friends</h2>
        <ul id="userList"><br></ul>
        <hr>
        <br>
        <div id="quickReply" class="extPanel" style="left: 0px; bottom: 20%;">
            <div id="qrForm">
                <div><input name="name" type="text" placeholder="Subject"></div>
                <div><textarea name="com" cols="48" rows="4" placeholder="Post"></textarea></div>
                <button id="postBtn">Post</button>
            </div>
        </div>
        <div id="quickComment" class="extPanel reply hidden" style="right: 50px; top: 30%;">
            <div id="qrForm">
                <div><textarea name="com" cols="48" rows="4" placeholder="Comment"></textarea></div>
                <button id="commentBtn">Comment</button>
            </div>
        </div>
        <br>
        <button id="homeBtn">Home</button>
        <button id="logout">Déconnexion</button>
    </div>
    <div class="container hidden" id="chatContainer">
        <div id="messageInput">
            <input type="text" id="messageText" placeholder="Type your message here...">
            <button id="sendMessageBtn">Send</button>
        </div> 
    </div>
</body>
</html>